<div class="content-container">
  <mat-card>
    <img mat-card-image src="https://scontent-iad3-1.cdninstagram.com/vp/6917b93c849774f90635714f760223e3/5E52EED3/t51.2885-15/e35/72279907_2507759639448857_108596811781476476_n.jpg?_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_cat=105" alt="Back of the skoolie">
    <mat-card-content>
      <p>
        It's messy right now but it's extremely cozy in our bus in the morning with all of the drapes closed. Nick's upfront and the air is filled with the smell of coffee, the birds are chirping and our new bed is so cozy! Ahhhhh, the little things and being on the road. I went biking in downtown Ashville yesterday and the fall colors are bursting off the trees everywhere I look. I enjoy the culture here and saw some beautiful art at @horseandhero @cylonboy @indiansummerpress and also really enjoyed @thekressemporium @brockflamionceramics.
      </p>
      <p>
        #adapted #artlovers #thelittlethings #fall #theadventurebegins #lifeontheroad #roadtrip #tinyhouse #vanlife #nomad #tinyhousemovement #tinyliving #buslife #vanlifemovement #offgrid #skoolie #lifeonpurpose #reallife #letsbehonest #thesmellofcoffee #glamping #cozy #cozyhome
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button onClick="window.open('https://www.instagram.com/p/B4NMwgZhQt6/')">INSTAGRAM</button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="content-container">
  <mat-card>
    <img mat-card-image
      src="https://scontent-iad3-1.cdninstagram.com/vp/e3e2b512209b56d469287dfc6fe0a16c/5E4E64C4/t51.2885-15/e35/74841070_464915644139108_3885246558023156771_n.jpg?_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_cat=108"
      alt="Nick driving the skoolie">
    <mat-card-content>
      <p>
        The drive from Wisconsin to Tennessee has been gorgeous. I'd definitely enjoy this road trip every fall! Anyone else on the road enjoying this incredible view?
      </p>
      <p>
        #roadtrippin #itsfallyall #lifeontheroad #lifeonpurpose #buslife #vanlife #offgrid #schoolies #tinyhouseliving #fall #bus #fallfoliage #fallcolors #tinyhouse #tinyhouseonwheels #usroadtrip #roadtrip #roadtrip2019 #vanlifestyle
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button onClick="window.open('https://www.instagram.com/p/B4GERaOhK9b/')">INSTAGRAM</button>
    </mat-card-actions>
  </mat-card>
</div>
