<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button routerLink="/" class="example-icon" mat-button matTooltip="Home">
      Home
    </button>
    <button routerLink="/map" class="example-icon" mat-button matTooltip="Map">
      Map
    </button>
    <span class="example-spacer"></span>
    <div *ngIf="auth.user$ | async as user; else login">
      <button (click)="auth.signOut()" class="example-icon" mat-button>
        <mat-icon matTooltip="Sign out" aria-hidden="false" aria-label="Sign out">remove_circle</mat-icon>
      </button>

      <button routerLink="/user-profile" class="example-icon" mat-button matTooltip="Profile">
        <img class="profile-photo" [src]="user.photoURL">
      </button>
    </div>

    <ng-template #login>
      <button (click)="auth.googleSignin()" class="example-icon" mat-button>
        <mat-icon matTooltip="Sign in" aria-hidden="false" aria-label="Sign in">account_circle</mat-icon>
      </button>
    </ng-template>

  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
