<div *ngIf="auth.user$ | async; then authenticated else guest">

</div>

<ng-template #guest>
  <div class="top-margin">
    <h3>Howdy, GUEST</h3>
    <p>Login to get started...</p>
  </div>
</ng-template>


<ng-template #authenticated>
  <div *ngIf="auth.user$ | async as user;" class="top-margin">
    <h1>{{ user.displayName }}</h1>
    <mat-card>
      <mat-card-content>
        <pre>{{ user | json }}</pre>
      </mat-card-content>
    </mat-card>

    <h2>Sharing your location with :</h2>
    <mat-card *ngFor="let friend of sharedWith">
      <mat-card-header>
        <div mat-card-avatar class="profile-avatar" [style.background-image]="'url(' + friend.photoURL + ')'"></div>
        <mat-card-title>{{ friend.displayName }}</mat-card-title>
        <mat-card-subtitle>{{ friend.email }}</mat-card-subtitle>
      </mat-card-header>
      <!-- <mat-card-content>
        <pre>{{ friend | json }}</pre>
      </mat-card-content> -->
    </mat-card>
  </div>
</ng-template>
