/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-toolbar {
  position: fixed;
  // position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}
mat-card {
  max-width: 500px;
  overflow: hidden;
  margin: 12px;
}

.profile-photo {
  border-radius: 15px;
  width: 30px;
}

.top-margin {
  margin-top: 70px;
}

.profile-avatar {
  background-size: cover;
}
